<div class="login container-fluid min-vh-100">
  <div class="card-container">
    <div class="logo d-flex mb-4">
      <img
        src="logos/UseFunsLogo.png"
        alt="usefuns"
        class="img-fluid mx-auto"
      />
    </div>
    <div class="card">
      <div class="card-header">
        Admin Panel
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="johndoe"
              formControlName="email"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="**********"
              formControlName="password"
            />
            <p *ngIf="errorRespMsg" class="form-error m-0 pt-1">{{errorRespMsg}}</p>
          </div>
          <div class="d-grid mb-3">
            <button class="btn btn-primary rounded-pill" type="submit" [disabled]="loginForm.invalid || isLoading">
              <span *ngIf="isLoading" class="spinner-border"></span>
              <span *ngIf="!isLoading">Login</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
