<mat-sidenav-container class="sidebar-container min-vh-100">
  <mat-sidenav
    class="sidebar"
    [ngClass]="sidebarCollapsedWidth()"
    mode="side"
    opened
  >
    <header class="header">
      @if (!collapsed()) {
      <img src="logos/UseFunsLogo2.png" class="img-fluid" alt="usefuns" />
      } @else {
      <img src="logos/app_icon_fg.png" class="img-fluid" alt="usefuns" />
      }
    </header>
    <div class="menu-container">
      <mat-nav-list>
        <ng-container *ngFor="let item of menuItems">
          <a
            *ngIf="item.label !== 'Logout'"
            mat-list-item
            [matTooltip]="item.label"
            [routerLink]="!item.subItems?.length ? item.route : null"
            [routerLinkActive]="!item.subItems?.length ? 'active' : ''"
            (click)="toggleNestedMenu(item)"
          >
            <fa-icon
              matListItemIcon
              [icon]="
                item.icon === 'headset' ||
                item.icon === 'arrow-right-from-bracket' ||
                item.icon === 'gift' ||
                item.icon === 'gear' ||
                item.icon === 'q'
                  ? ['fas', item.icon]
                  : ['far', item.icon]
              "
            ></fa-icon>
            <span matListItemTitle *ngIf="!collapsed()">{{ item.label }}</span>
            <span matListItemMeta *ngIf="item.subItems?.length && !collapsed()">
              @if (!nestedMenuOpen()) {
              <fa-icon matListItemIcon icon="chevron-down"></fa-icon>
              } @else {
              <fa-icon matListItemIcon icon="chevron-up"></fa-icon>
              }
            </span>
          </a>
          <a
            *ngIf="item.label === 'Logout'"
            mat-list-item
            [matTooltip]="item.label"
            [routerLink]="item.route"
            routerLinkActive="active"
            (click)="logout()"
          >
            <fa-icon
              matListItemIcon
              [icon]="
                item.icon === 'headset' ||
                item.icon === 'arrow-right-from-bracket' ||
                item.icon === 'gear'
                  ? ['fas', item.icon]
                  : ['far', item.icon]
              "
            ></fa-icon>
            <span matListItemTitle *ngIf="!collapsed()">{{ item.label }}</span>
          </a>
          @if (item.subItems?.length && nestedMenuOpen() && !collapsed()) {
          <div class="submenu-items" @expandSubMenu>
            <a
              *ngFor="let subItem of item.subItems"
              mat-list-item
              [routerLink]="subItem.route"
              [relativeTo]="route"
              routerLinkActive="active"
            >
              <fa-icon
                matListItemIcon
                [icon]="
                  subItem.icon === 'crop-simple' || subItem.icon === 'code'
                    ? ['fas', subItem.icon]
                    : ['far', subItem.icon]
                "
              ></fa-icon>
              <span matListItemTitle *ngIf="!collapsed()">{{
                subItem.label
              }}</span>
            </a>
          </div>
          }
        </ng-container>
      </mat-nav-list>
    </div>
    <footer class="footer"></footer>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="sidebarCollapsedWidth()">
    <mat-toolbar>
      <button class="btn btn-light" (click)="collapsed.set(!collapsed())">
        <fa-icon icon="bars"></fa-icon>
      </button>
    </mat-toolbar>
    <div class="container pb-4 sidenav-content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-drawer-container [class.active]="isDrawerOpen()">
  <mat-drawer
    #drawer
    mode="over"
    position="end"
    [opened]="isDrawerOpen()"
    (closed)="closeDrawer()"
  >
    <ng-container *ngIf="drawerContent">
      <div class="container pb-4">
        <div class="header-content pt-4 pb-3">
          <div class="d-flex align-items-center gap-5 mb-3">
            <button
              type="button"
              id="drawer-close-btn"
              class="btn-close shadow-none"
              (click)="drawer.close()"
            ></button>
            <h3 class="m-0">{{ drawerTitle }}</h3>
          </div>
          <mat-divider></mat-divider>
        </div>
        <ng-container
          *ngComponentOutlet="drawerContent; injector: dataInjector"
        ></ng-container>
      </div>
    </ng-container>
  </mat-drawer>
</mat-drawer-container>
