<div class="d-flex justify-content-between align-items-center my-4">
  <h4>Admins</h4>
  <button class="btn btn-primary" (click)="openDialog('add')">Add New</button>
</div>

<table class="table" *ngIf="admins.length; else noData">
  <thead>
    <tr>
      <th>#</th>
      <th>User ID</th>
      <th>Name</th>
      <th>Country</th>
      <th>Parents</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let admin of admins; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ admin.customerRef?.userId }}</td>
      <td>{{ admin.customerRef?.name }}</td>
      <td>{{ admin.country || "--" }}</td>
      <td>
        <!-- parents contain [manager, admin] -->
        <ng-container *ngFor="let parent of admin.parents; let last = last">
          {{ parent?.customerRef?.name }} <span *ngIf="!last"> / </span>
        </ng-container>
      </td>
      <td>
        <div class="action-btns d-flex">
          <fa-icon
            [icon]="['far', 'pen-to-square']"
            class="flex-grow-1 edit-icon"
            matTooltip="Edit"
            (click)="openDialog('edit', admin)"
          ></fa-icon>
          <fa-icon
            [icon]="['far', 'trash-can']"
            class="flex-grow-1 text-danger"
            matTooltip="Remove"
            (click)="openDialog('removeAdmin', admin)"
          ></fa-icon>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noData>
  <p>No records found.</p>
</ng-template>
