<h4 mat-dialog-title>
  {{ mode === "add" ? "Add Sub Admin" : "Edit Sub Admin" }}
</h4>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content>
    <!-- Customer -->
    <div class="mb-3">
      <label class="form-label">Customer</label>
      <ng-select
        formControlName="customerId"
        placeholder="Select customer"
        searchable="true"
        clearable="true"
      >
        <ng-option *ngFor="let user of users" [value]="user._id">
          {{ user.userId }}
        </ng-option>
      </ng-select>
    </div>

    <!-- Country Manager -->
    <div class="mb-3">
      <label class="form-label">Country Manager</label>
      <ng-select
        formControlName="countryManagerId"
        placeholder="Select manager"
        searchable="true"
        clearable="true"
      >
        <ng-option *ngFor="let mgr of managers" [value]="mgr._id">
          {{ mgr.userId }}
        </ng-option>
      </ng-select>
    </div>

    <!-- Country Admin -->
    <div class="mb-3">
      <label class="form-label">Country Admin</label>
      <ng-select
        formControlName="countryAdminId"
        placeholder="Select country admin"
        searchable="true"
        clearable="true"
        [disabled]="!form.value.countryManagerId"
      >
        <ng-option *ngFor="let ca of countryAdmins" [value]="ca._id">
          {{ ca.userId }}
        </ng-option>
      </ng-select>
    </div>

    <!-- Admin -->
    <div class="mb-3">
      <label class="form-label">Admin</label>
      <ng-select
        formControlName="adminId"
        placeholder="Select admin"
        searchable="true"
        clearable="true"
        [disabled]="!form.value.countryAdminId"
      >
        <ng-option *ngFor="let adm of admins" [value]="adm._id">
          {{ adm.userId }}
        </ng-option>
      </ng-select>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="text" class="form-control" formControlName="password" />
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="text-end">
      <button
        class="btn btn-secondary me-2"
        type="button"
        (click)="dialogRef.close()"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="isLoading || form.invalid"
      >
        {{ isLoading ? "Saving..." : "Submit" }}
      </button>
    </div>
  </mat-dialog-actions>
</form>
