.img-container {
  overflow: hidden;
  display: inline-block;
}

.carousel-img, img {
  width: 50%;
}

img {
  transition: transform 0.3s ease-in-out;
}

img:hover {
  cursor: pointer;
  transform: scale(1.5);
}

span {
  color: #6c757d;
}
