/* You can add global styles to this file, and also import other style files */
@import "./assets/themes/variables.scss";
@import "@ng-select/ng-select/themes/default.theme.css";
@import 'ngx-toastr/toastr';

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@supports (scrollbar-width: thin) {
  * {
      scrollbar-width: thin;
      scrollbar-color: #444 transparent
  }
}

.btn-indigo {
  color: $white;
  background-color: $indigo;
}

.btn-indigo:hover {
  color: $white;
  background-color: #880777;
}

.btn:focus, .btn-active {
  outline: none;
  box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus, select:focus{
  outline: none!important;
  box-shadow: none!important;
}

.form-check {
  input, label {
    cursor: pointer;
  }
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  box-shadow: none;
}

input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover {
    cursor:pointer;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(.mdc-evolution-chip--disabled) {
  background-color: $indigo !important;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__checkmark {
  color: $white !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
  color: $white !important;
}

.card {
  border-radius: 16px;
}

.sidebar mat-nav-list a.active {
  background-color: $indigo;
}

.skeleton-loader.progress-dark[_ngcontent-ng-c1464183443]:before {
  animation-duration: 1s !important;
}

/*************** Login Page ***************/
.login {

  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, $primary, $secondary);

  .card-container
  {
    width: 50%;
    max-width: 680px;

    .card {
      background-color: #aa180e8e;
      color: $white;
      border-radius: 16px;

      .card-header {
        background-color: #aa180e6b;
        font-size: 14pt;
        border-radius: 16px 16px 0 0;
      }
    }
  }

  @media (max-width: 768px) {
    .card-container {
      width: 100%;
    }
  }

  .logo img {
    height: 250px;
  }
}

mat-sidenav-container.sidebar-container {
  background-color: $light;
  overflow: initial;
}

mat-drawer-container.active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;

  mat-drawer {
    width: 80%;

    .header-content {
      top: 0;
      position: sticky;
      z-index: 10;
      background-color: $light-grey;
    }
  }
}

mat-tab-group.user-forms {
  mat-tab-header {
    position: sticky;
    z-index: 10;
    background-color: $light-grey;
    top: 90.4px;
    padding-bottom: 1.5rem;
  }

  .mdc-tab--active .mdc-tab__text-label,
  .mat-mdc-tab.mdc-tab--active:focus .mdc-tab__text-label,
  .mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label {
    color: $indigo;
  }

  .mat-mdc-tab .mdc-tab-indicator__content--underline,
  .mat-mdc-tab.mdc-tab--active:focus .mdc-tab-indicator__content--underline,
  .mat-mdc-tab.mdc-tab--active:hover .mdc-tab-indicator__content--underline {
    border-color: $indigo;
  }

  mat-tab-group.user-items, .user-gifts {
    flex-direction: row;

    mat-tab-header {
      align-self: flex-start;
      top: 245.6px;
    }

    .mat-mdc-tab-labels {
      flex-direction: column;
    }

    .mat-mdc-tab-body-wrapper {
      flex: 1 1 auto;
    }

    .mat-mdc-tab-label-container {
      border-bottom: none;
      border-right-style: solid;
      border-right-width: var(--mat-tab-header-divider-height, 1px);
      border-right-color: var(--mat-tab-header-divider-color, var(--mat-sys-surface-variant));
    }

    img {
      width: 150px;
    }

    .title {
      font-weight: 500;
    }

    .time-left, .gift-summ {
      color: $indigo
    }
  }
}

mat-tab-group.user-forms.user-items-active > {
  .mat-mdc-tab-body-wrapper {
      overflow: initial;

      .mat-mdc-tab-body.mat-mdc-tab-body-active {
        overflow: initial;

        .mat-mdc-tab-body-content {
          overflow: initial;
      }
    }
  }
}

.user-edit mat-tab-group.user-forms {
  mat-tab-header {
    top: 172.8px;
  }

  .mat-mdc-tab-body-wrapper {
    background-color: $light-grey;
  }
}

mat-sidenav.sidebar {
  position: fixed;
  width: 250px;
  background: linear-gradient(to left, $primary, $secondary);
  border-radius: 0;
  transition: width 200ms ease-in-out;

  &.collapsed {
    width: 65px;

    .header img {
      height: auto;
      transform: scale(2.5);
    }

    a.mat-mdc-list-item {
      padding-right: 0px;
      justify-content: center;

      .mdc-list-item__content {
        flex: 0;
      }
    }
  }

  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .header, .footer {
    display: flex;
    align-items: center;
    padding: 16px;
    max-height: 64px;
    overflow: hidden;

    img {
      height: 48px;
    }
  }

  .header {
    border-bottom: 1px solid $white;
  }

  .footer {
    border-top: 1px solid $white;
  }

  .menu-container {
    height: 100%;
    max-height: 100%;
    display: block;
    position: relative;
    overflow-y: auto;

    mat-nav-list {
      fa-icon.mat-mdc-list-item-icon {
        font-size: unset;
        color: $white;

        svg {
          font-size: 24px;
        }
      }

      .mat-mdc-list-item-title {
        color: $white;
      }

      a .mat-mdc-list-item-meta.mdc-list-item__end {
        margin-right: 0;

        fa-icon svg {
          font-size: 14pt;
        }
      }

      .submenu-items fa-icon {
        margin-left: 34px;
      }
    }
  }
}

mat-sidenav-content.mat-drawer-content {
  transition: margin 200ms ease-in-out;
  overflow: initial;

  .sidenav-content .header-content, .shop-items-chips {
    position: sticky;
    top: 64px;
    z-index: 10;
    background-color: $light;
  }

  .shop-items-chips {
    top: 141.6px;
  }
}

mat-sidenav-content.collapsed {
  margin-left: 65px !important;
}

mat-toolbar.mat-toolbar {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 100;
}

/*************** Users Page ***************/
.users-list {
  h4 {
    margin: 0;
    color: var(--bs-secondary-color);
  }

  .input-group {
    width: 50%;

    .input-group-text {
      border-radius: 16px 0 0 16px;
      padding-right: 0;
    }

    input {
      border-left: 0;
      border-radius: 0 16px 16px 0;
    }

    input:focus {
      border-color: var(--bs-border-color);
    }

    .input-group-text, input {
      background-color: $light;
    }
  }
}

.users-list, .shop-list {
  table {
    td.status {
      p fa-icon {
        font-size: 8pt;
      }
    }

    td .action-btns {
      font-size: 14pt;

      fa-icon svg {
        cursor: pointer;
      }

      fa-icon.edit-icon {
        color: rgba(136, 7, 118, 1);
      }
    }
  }
}

mat-divider {
  border-top-color: #c4c6d0!important;
}

.basic-info, .room-info {
  img {
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
  }
}
